apiVersion: apps/v1
kind: Deployment
metadata:
  name: despliegue14
  labels:
    app: despliegue14
  namespace: namespace-workflow-1698606620307
spec:
  replicas: 1
  selector:
    matchLabels:
      app: despliegue14
  template:
    metadata:
      labels:
        app: despliegue14
    spec:
      containers:
        - name: despliegue14
          image: pakoleal.azurecr.io/image-workflow-1698606620307:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
      restartPolicy: Never
         
