name: despliegue14
on:
    push:
        branches:
            - develop
    workflow_dispatch:
env:
    ACR_RESOURCE_GROUP: Despliegues
    AZURE_CONTAINER_REGISTRY: pakoleal
    CLUSTER_NAME: pakito
    CLUSTER_RESOURCE_GROUP: Despliegues
    CONTAINER_NAME: image-workflow-1698606620307
    DEPLOYMENT_MANIFEST_PATH: |
        manifests/deployment.yaml
        manifests/service.yaml
jobs:
    buildImage:
        permissions:
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: azure/login@92a5484dfaf04ca78a94597f4f19fea633851fa2
              name: Azure login
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            - name: Build and push image to ACR
              run: az acr build --image ${{ env.CONTAINER_NAME }}:${{ github.sha }} --registry ${{ env.AZURE_CONTAINER_REGISTRY }} -g ${{ env.ACR_RESOURCE_GROUP }} -f Dockerfile ./MyService
    deploy:
        permissions:
            actions: read
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        needs:
            - buildImage
        steps:
            - uses: actions/checkout@v3
            - uses: azure/login@92a5484dfaf04ca78a94597f4f19fea633851fa2
              name: Azure login
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            - uses: azure/use-kubelogin@v1
              name: Set up kubelogin for non-interactive login
              with:
                kubelogin-version: v0.0.25

            - uses: azure/aks-set-context@v3
              name: Get K8s context
              with:
                admin: "false"
                cluster-name: ${{ env.CLUSTER_NAME }}
                resource-group: ${{ env.CLUSTER_RESOURCE_GROUP }}
                use-kubelogin: "true"
                
            - uses: azure/docker-login@v1
              with:
                login-server: 'pakoleal.azurecr.io' 
                username: 'pakoleal'
                password: '0IqyNWKGATBjW06uDFyoax4j4U2Ta7Z1VWUv9yWCa9+ACRDaSJ79'
            
            - run: |
               docker build . -t  ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_NAME }}:${{ github.sha }}
               docker push  ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_NAME }}:${{ github.sha }}

            - uses: azure/setup-kubectl@v2.0
            
            - uses: Azure/k8s-create-secret@v1.1
              with:
                container-registry-url: pakoleal.azurecr.io
                container-registry-username: 'pakoleal'
                container-registry-password: '0IqyNWKGATBjW06uDFyoax4j4U2Ta7Z1VWUv9yWCa9+ACRDaSJ79'
                secret-name: demo-k8s-secret1      
                
            - uses: Azure/k8s-deploy@v4
              name: Deploys application
              with:
                action: deploy
                images: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/${{ env.CONTAINER_NAME }}:${{ github.sha }}
                manifests: ${{ env.DEPLOYMENT_MANIFEST_PATH }}
                namespace: namespace-workflow-1698606620307
                imagepullsecrets: |
                 demo-k8s-secret1  
