name: EjecucionScripts
on:
  workflow_dispatch:

env:
  AZURE_SQL_CONNECTION_STRING: "jdbc:sqlserver://trasoto.database.windows.net:1433;database=trasotodatabase;user=cloudsa3d8277fa@trasoto;password=M3g4h4b1l1d4d3s*;encrypt=true;trustservercertificate=false;hostnameincertificate=*.database.windows.net;loginTimeout=30;"

jobs:
    Execution-Scripts:
        permissions:
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - uses: azure/login@92a5484dfaf04ca78a94597f4f19fea633851fa2
              name: Azure login
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            
            - uses: azure/sql-action@v2.2
              with:        
                connection-string: ${{ env.AZURE_SQL_CONNECTION_STRING }}
                path: './sqlscripts/general.sql'
