name: EjecucionScripts
on:
  workflow_dispatch:

env:
     clientId: "78263765-8c3d-46bf-8e43-e363d2f7d227",
     clientSecret: " 29d3ac06-7af2-429d-931f-4a7d27a0d246",
     subscriptionId: "a11dee82-040f-41da-a41c-babb4e814fe9",
     tenantId: " 29d3ac06-7af2-429d-931f-4a7d27a0d246"
     AZURE_SQL_CONNECTION_STRING: "jdbc:sqlserver://trasoto.database.windows.net:1433;database=trasotodatabase;user=cloudsa3d8277fa@trasoto;password=M3g4h4b1l1d4d3s*;encrypt=true;trustservercertificate=false;hostnameincertificate=*.database.windows.net;loginTimeout=30;"

jobs:
    Execution-Scripts:
        permissions:
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: azure/login@92a5484dfaf04ca78a94597f4f19fea633851fa2
              name: Azure login
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            #- uses: azure/login@v1                            
              #with:
                #creds: '{"client-id": "${{ env.clientId }}", "subscription-id": ${{ secrets.AZURE_SUBSCRIPTION_ID }}", "tenant-id": "${{ secrets.AZURE_TENANT_ID }}", "clientSecret": "${{env.clientSecret}}"}'
                
            - uses: azure/sql-action@v2.2
              with:        
              connection-string: ${{ env.AZURE_SQL_CONNECTION_STRING }}
              path: './sqlscripts/general.sql'
