name: EjecucionScripts
on:
  workflow_dispatch:

env:
  AZURE_SQL_CONNECTION_STRING: "Server=tcp:trasoto.database.windows.net,1433;Initial Catalog=TraSotoDataBase;Persist Security Info=False;User ID=megahabilidades@trasoto.com;Password=M3g4h4b1l1d4d3s*;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"

jobs:
    Execution-Scripts:
        permissions:
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - uses: azure/login@92a5484dfaf04ca78a94597f4f19fea633851fa2
              name: Azure login
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            
            - uses: azure/sql-action@v2.2
              with:        
                connection-string: ${{ env.AZURE_SQL_CONNECTION_STRING }}
                path: './sqlscripts/general.sql'
